ion-icon {
    color: #9f0505;
}

.empty-cart {
    margin: 10px;
    padding: 10px;
    background: #f5dada;
    color: #9d0101;
    text-align: center;
}

.purchase {
    font-size: 30px;
}